<h1>Cadastro de Usuário</h1>

<form action="/cadastrar" method="POST">
    <label for="Email">Email:</label>
    <input type="text" id="Email" name="Email" required><br><br>

    <label for="Senha">Senha:</label>
    <input type="text" id="Senha" name="Senha" required><br><br>

    <button type="submit">Cadastrar</button>
</form>
